* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   /*  display: fixed; */
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
    height: auto;
    background-repeat: no-repeat;
}  

.header {
    background-color: tomato;
    color: white;
    padding:  10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.myfooter {
    width: 100%;
    background-color: tomato;
    color: white;
    font-size: 20px;
    padding: 10px;
    display: inherit;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.links{
    color: white;
    text-decoration: none;
    transition: all .5s;
}

.links:hover{
    color: rgb(34, 33, 33); 
}

.container {
/*     background-color: cornsilk;
 */    width: 85%;
    margin: 50px auto;
     height: 100vh; 
}

.task_input_bar{
    /* background-color: burlywood;
    opacity: 0.5; */
    width:  100%;
    display: flex;
    justify-content: space-between;
}

.task_input{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border: none;
    opacity: .6;
}

.task_input:focus{
    opacity: 1;
}

.button_add{
    align-self: auto;
    border: none;
    background-color: tomato;
    color: white;
    width: 15%;
    font-size: 20px;
    transition: all .5s;
}

.button_add:hover{
    color: rgb(34, 33, 33); 
    background-color: rgb(240, 143, 126);
    transform: translateY(-10%);
}

.task_list{
    width:  70%;
    margin: 70px auto;
    padding: 15px;
    font-size: 20px;
/*     background-color: tomato;
 */}

.task {
    padding: 10px;
    background-color: tomato;
    color: white;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.delete_btn{
    color:  black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    transition: all 0.5s;
}

.delete_btn:hover{
    color: tomato;
}

.input_text {
    text-decoration: none;
    transition: all 0.5s;
}